.aside {
    width: 375px;
    height: 100vh;
    position: absolute;
    right: 0;
    border-left: 1px solid #575757;
    background-color: rgba($color: #121212, $alpha: 1);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 9999;
}
.aside.open {
    transform: translateX(0);
}

.asideTop, .asideMiddle, .asideBottom {
    width: 100%;
    min-height: none;
}

// ASIDE TOP
.atSyntra {
    width: 100%;
    height: 65px;
    display: flex;
    border-bottom: 1px solid #575757;
}
.atSyntraInscription {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

.atSearchFolder {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.atSearchDIV {
    width: 90%;
    height: 80%;
    border-radius: 5px;
    display: flex;
    border: 1px solid rgba($color: #575757, $alpha: 0.75);
    cursor: pointer;
}
.atSearchSVG {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.atSearchSVG img {
    width: 65%;
    height: 65%;
}
.atSearchInscription {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-size: 1.1rem;
    font-weight: 400;
}

.atOption {
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.atSelectedOption {
    cursor: default;
}
.atOption, .atSelectedOption {
    width: 100%;
    height: 50px;
    display: flex;
}
.atOptionSVG {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.atOptionSVG img {
    width: 65%;
    height: 65%;
}
.atOptionInscription {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-weight: 500;
}
// ASIDE_TOP OPTIONS
.atOption:hover {
    background-color: rgba($color: whitesmoke, $alpha: 0.04);
}
.atOption .atOptionInscription {
    color: #7C7C7C;
}
.atSelectedOption .atOptionInscription {
    color: white;
}

// ASIDE MIDDLE
.amSelCurrAndLang {
    width: 100%;
    display: flex;
    height: 65px;
}
.amSelectedCurrency, .amSelectedLanguage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.amSelectedCurrency:hover, .amSelectedLanguage:hover {
    background-color: rgba($color: whitesmoke, $alpha: 0.10);
}

// ASIDE BOTTOM
.abOption {
    width: 100%;
    height: 65px;
    display: flex;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.abOption:hover {
    background-color: rgba($color: whitesmoke, $alpha: 0.10);
}
.abOptionSVG {
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abOptionSVG img {
    width: 60%;
    height: 60%;
}
.abOptionInscription {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 500;
}

// LINE BETWEEN
.lineBetween {
    width: 100%;
    height: 24px;
    position: relative;
}
.lineBetween::before {
    content: '';
    width: 85%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba($color: #575757, $alpha: 0.75);
}

@media (max-width: 650px) {
    .aside {
        width: 100%;
    }
}