.supportPart {
    flex: 1.5;
}

.inscription {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: default;
}
.button {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & button {
        width: 80%;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 9999px;
        padding: 12px;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }
    & button:hover {
        color: rgba($color: white, $alpha: 0.9);
        border: 1px solid rgba($color: white, $alpha: 0.9);
    }
}
.description {
    padding: 0 12px;
    font-size: 1rem;
    cursor: default;
}

// @media (max-width: 1080px) {
//     .description {
//         padding-bottom: 20px;
//     }
// }