.ymlGoodsArrows {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0 8px;
    user-select: none;
}
.toLeft, .toRight {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 12px;
    z-index: 1;

    & .leftArrow, & .rightArrow {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: #121212;
        z-index: 1;
        cursor: pointer;
    }
    & .leftArrow img, & .rightArrow img {
        width: 100%;
        height: 100%;
    }

    // & .fadeLeft, .fadeRight {
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    // }
    // & .fadeLeft {
    //     left: 0;
    //     background: linear-gradient(to right, #121212, transparent);
    // }
    // & .fadeRight {
    //     right: 0;
    //     background: linear-gradient(to left, #121212, transparent);
    // }
}
.toLeft {
    left: 0;
    // display: none;
}
.toRight {
    right: 0;
    // display: none;
}