.sliderContent {
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: grab;
}
.sliderContent:active {
  cursor: grabbing;
}

.sliderContentWrapper {
  height: 100%;
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
}