.ymlHeader {
    width: 100%;
    height: 85px;
    
}

.gtlArrowInscription {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 8px;
}
.gtlArrInsIMG {
    width: auto;
    height: 100%;
    flex-shrink: 0;
    & img {
        width: 100%;
        height: 100%;
    }
}
.gtlArrInsTXT {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;
    
    & span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}