.bar {
    max-width: 75px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter {
    width: 85%;
    height: 6px;
    border-radius: 10px;
    background-color: rgba($color: white, $alpha: 0.5);
}

.fill {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba($color: white, $alpha: 0.8);
}