.socialPart {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-content: flex-start;
    justify-content: center;
    padding: 12px 0;
    margin-bottom: 24px;
}

.socialItem {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    & img {
        width: 50%;
        height: auto;
    }
    &:hover::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.4);
        border-radius: 50%;
    }
}

@media (max-width: 1505px) {
    .socialPart {
        height: 80px;
        flex-basis: 100%;
        align-content: center;
        justify-content: flex-start;
        padding: 12px;
    }
}
@media (max-width: 1080px) {
    .socialPart {
        flex-basis: 100%;
        justify-content: center;
    }
}