.card {
    flex: 0 0 auto;
    width: 22vw;
    min-width: 150px;
    aspect-ratio: 3 / 4;

    display: flex;
    flex-direction: column;
}

.cardIMG {
    flex: 1;
    display: flex;
    align-items: center;

    & img {
        width: 100%;
        height: auto;
        display: block;
    }
}
.cardTXT {
    height: fit-content;
    background-color: #121212;
    padding: 6px 0;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
    gap: 2px;
    
    & .name { font-size: 1.05rem; }
    & .price { font-weight: 500; }
}