.arrows {
    width: 100%;
    height: 100%;
    // padding: 0 12px;
    position: absolute;

    display: flex;
    align-items: center;
    user-select: none;
}
.lArrow, .rArrow {
    width: 45px;
    height: 45px;
    background-color: #121212;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover { background-color: #1a1a1a; }
    & img { width: 85%; }
}
.lArrow {
    left: 12px;
    // display: none;
}
.rArrow {
    right: 12px;
    // display: none;
}