.ymlHeader {
    width: 100%;
    height: 85px;
    background-color: #121212;
    display: flex;
    align-items: center;
    gap: 8px;

    & img {
        width: auto;
        height: 100%;
    }
    & span {
        font-size: 1.6rem;
        font-weight: bold;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &::after {
        content: '';
        background-color: white;
        flex: 1;
        height: 2px;
        margin: 0 12px;
    }
}
@media (max-width: 410px) {
    .ymlHeader {
        &::after {
            display: none;
        }
    }
}