.gtlHeader {
    width: 100%;
    height: 85px;
    display: flex;
}
.gtlHeaderFirst, .gtlHeaderSecond {
    display: flex;
}
// .gtlHeaderSecond {
//     margin-left: auto;
// }

.gtlArrowInscription {
    max-width: max-content;
    display: flex;
    align-items: center;
}
.gtlArrInsIMG {
    width: auto;
    height: 100%;
    flex-shrink: 0;
    & img {
        width: 100%;
        height: 100%;
    }
}
.gtlArrInsTXT {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 16px;
}

.gtlLittleInscription {
    max-width: max-content;
    padding: 0 16px;
    display: flex;
    align-items: center;
    & span {
        font-weight: bold;
    }
}
.gtlLittleInsTXT {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .gtlButton {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     padding-right: 16px;
//     & button {
//         background-color: transparent;
//         border: 1px solid;
//         border-radius: 9999px;
//         padding: 12px;
//         font-size: 1rem;
//         color: white;
//         white-space: nowrap;
//         cursor: pointer;
//     }
//     & button:hover {
//         background-color: rgba($color: white, $alpha: 0.04);
//     }
// }

// @media (max-width: 540px) {
//     .gtlHeader {
//         height: 85*2px;
//         flex-direction: column;
//     }
//     .gtlHeaderFirst, .gtlHeaderSecond {
//         width: 100%;
//         height: 50%;
//     }
//     // .gtlButton {
//     //     justify-content: center;
//     //     padding-right: 0;
//     //     & button {
//     //         width: 75%;
//     //     }
//     // }
// }