.card {
    flex: 0.5 0 auto;
    width: 23vw;
    min-width: 150px;
    aspect-ratio: 3 / 4.5;
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    // background-color: red;
}
.cardIMG {
    & img {
        width: 100%;
        height: auto;
        display: block;
        user-select: none;
    }
}
.cardTXT {
    
}
.text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.price {
    font-weight: 500;
}