// ASIDEHEADER
.asideBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgba($color: #121212, $alpha: 0.75);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 9999;
}
.asideBackground.open {
    opacity: 1;
    pointer-events: fill;
}