.ymlGoods {
    width: 100%;
    height: auto;
    position: relative;
}
.ymlGoodsWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 8px;
    padding: 8px 0;
    overflow: hidden;
}