.sliderIndicator {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 64px;
    position: absolute;
    pointer-events: none;
}