.slideButton {
    width: 45px;
    height: 32px;
    border-radius: 10px;
    position: absolute;
    top: 1%;
    left: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;

    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2.5px;
        background-color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) rotate(-24deg);
        transition: width 0.5s ease;
        pointer-events: none;
    }

    &.closed::before {
        width: 32px;
    }
}
.slideButton img {
    width: 85%;
    height: auto;
    rotate: -90deg;
}