.header {
    width: 100vw;
    height: 45px;
    background-color: #121212;
    border-bottom: 1px solid #575757;
    
    display: flex;
    padding: 0 24px;
}

.headerLeft, .headerRight {
    display: flex;
}
.headerLeft {
    flex: 1;
}
.headerRight {
    flex: 1;
}

// Header Sections
.headerLeftS1, .headerLeftS2, .headerLeftS3 {
    flex: 1;
    text-wrap: nowrap;
}
.headerLeftS1 {
}
.headerLeftS2 {
    margin: 0 36px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.headerLeftS3 {
}

// LEFT
.syntraInscription, .option, .selectedOption {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/// S1
.syntraInscription {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    font-weight: bolder;
}
/// S2
.selectedOption, .option {
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    font-weight: 700;
}
.selectedOption {
    position: relative;
    color: white;
    font-weight: bold;
}
.selectedOption::after {
    content: '';
    width: 85%;
    height: 2px;
    background-color: #575757;
    position: absolute;
    bottom: 0;
}
.option {
    color: #7C7C7C;
}
/// S3
.searchFolder {
    min-width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #575757;
    border-right: 1px solid #575757;
    padding: 0 8px;
    cursor: pointer;
}
.searchFolder .searchFolderSVG {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchFolder .searchFolderSVG img {
    width: 65%;
    height: 65%;
}
.searchFolder .searchFolderInput {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 12px;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
}