.header {
    width: 100%;
    height: 45px;
    background-color: #121212;
    border-bottom: 1px solid #575757;
    
    display: flex;
    padding: 0 12px;
}

.headerLeft, .headerRight {
    display: flex;
    gap: 12px;
}
.headerRight {
    flex: 1;
    justify-content: flex-end;
}

// HEADER LEFT SECTIONS
.headerLeftS1, .headerLeftS2, .headerLeftS3 {
    flex: 1;
    text-wrap: nowrap;
}
.headerLeftS1 {
    max-width: 150px;
    min-width: 150px;
}
.headerLeftS2 {
    max-width: 320px;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.headerLeftS3 {
    max-width: 220px;
    min-width: 220px;
}

// LEFT
.syntraInscription, .option, .selectedOption {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/// S1
.syntraInscription {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    font-weight: bolder;
}
/// S2
.selectedOption, .option {
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    font-weight: 700;
}
.selectedOption {
    position: relative;
    color: white;
    font-weight: bold;
}
.selectedOption::after {
    content: '';
    width: 85%;
    height: 2px;
    background-color: #575757;
    position: absolute;
    bottom: 0;
}
.option {
    color: #7C7C7C;
}
/// S3
.searchFolder {
    min-width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #575757;
    border-right: 1px solid #575757;
    padding: 0 8px;
    cursor: pointer;
}
.searchFolder .searchFolderSVG {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchFolder .searchFolderSVG img {
    width: 65%;
    height: 65%;
}
.searchFolder .searchFolderInput {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 12px;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
}

// HEADER RIGHT SECTIONS
.headerRightS1, .headerRightS2 {
    text-wrap: nowrap;
    display: flex;
}
.headerRightS1 {
    gap: 12px;
}
.headerRightS2 {
    gap: 12px;
}

// RIGHT
/// S1
.selectedCurrency, .selectedLanguage {
    max-width: 80px;
    min-width: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}
/// S2
.logIn {
    max-width: 210px;
    flex: 1.5;
    display: flex;
    cursor: pointer;
}
.logIn .logInIcon {
    min-width: 33px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logIn .logInIcon img {
    width: 75%;
    height: 75%;
}
.logIn .logInInscription {
    min-width: 160px;
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9;
    font-weight: 500;
}

.cart {
    max-width: 120px;
    min-width: 120px;
    flex: 1;
    display: flex;
    cursor: pointer;
}
.cart .cartIcon {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart .cartIcon img {
    width: 75%;
    height: 75%;
}
.cart .cartInscription {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9;
    font-weight: 500;
}

// ALL CONTAINERS
.option, .selectedCurrency, .selectedLanguage, .logIn, .cart {
    transition: background-color 0.5s ease;
}
.option:hover, .selectedCurrency:hover, .selectedLanguage:hover, .logIn:hover, .cart:hover {
    background-color: rgba($color: #575757, $alpha: 0.2);
}

@media (max-width: 1250px) {
    .cart .cartInscription {
        display: none;
    }
    .cart {
        min-width: 60px;
    }
}
@media (max-width: 1190px) {
    .logIn .logInInscription {
        display: none;
    }
    .logIn {
        min-width: 60px;
    }
}
@media (max-width: 1060px) {
    .header {
        display: none;
    }
}