.asideHeader {
    height: 75px;
    border-bottom: 1px solid #575757;
    font-size: 1.5rem;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
.closeDIV {
    width: 75px;
    height: 100%;
    position: absolute;
    right: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        width: 50%;
        height: auto;
    }
}

@media (min-width: 1060px) {
    .asideHeader {
        border-image: repeating-linear-gradient(
            to right, 
            #121212 0 10px, 
            #575757 10px 20px
        ) 1;
    }
}