.slide {
    min-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
}

.contentInscription {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentVisual {
    width: 100%;
    height: 100%;
}
.contentVisual img, .contentVisual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}