.footer {
    width: 100%;
    min-height: 350px;
    background-color: #121212;

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

// @media (max-width: 1080px) {
//     .footer {
//         flex-direction: column;
//     }
// }