.youMayLike {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    outline: 1px solid red;
}

.description {
    flex: 1;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.cardsContainer {
    flex: 3.5;
    display: flex;
    gap: 4px;
}

.card {
    width: 320px;
    height: 100%;
    background-size: cover;
    background-position: center;
}

// ofc add media behavior