.getTheLook {
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    outline: 1px solid red;
}

.description {
    flex: 1;
    display: flex;
    min-height: 110px;
}
.descriptionLR {
    display: flex;
    align-items: center;
    justify-content: center;
}
.descriptionL {
    flex: 1;
    font-size: 1.8rem;
    font-weight: bold;
    @extend .descriptionLR;
}
.descriptionR {
    flex: 2;
    @extend .descriptionLR;
}

.looksCategories {
    flex: 5;
    display: flex;
    gap: 4px;
}
.categoriesCard {
    flex: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.categoriesCard p {
    
    font-size: 1.2rem;
    font-weight: bold;
}