.subscribe {
    width: 100%;
    height: 280px;
    background: linear-gradient(to bottom, black, #121212);
}

.title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 24px 0 8px 0;

    & p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.description {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: 12px 0;
    
    & p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.button {
    display: flex;
    justify-content: center;
    padding: 24px 0;

    & button {
        padding: 12px;
        font-size: 1rem;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 9999px;
        cursor: pointer;
        transition: color 0.3s ease, border 0.3s ease;
    }
    & button:hover {
        color: rgba($color: white, $alpha: 0.8);
        border: 1px solid rgba($color: white, $alpha: 0.8);
    }
}

@media (max-width: 760px) {
    .title {
        font-size: calc(2rem - 0.5rem);
    }
    .description {
        font-size: calc(1.5rem - 0.5rem);
    }
}