.button {
    font-weight: bold;
}
.button button {
    width: min-content;
    color: white;
    padding: 8px;
    font-size: 1.6rem;
    background-color: #121212;
    border-radius: 9999px;
    border: 0;
    cursor: pointer;
}
.button button:hover {
    background-color: #2a2a2a;
}